TURSO_DATABASE_URL=libsql://database-bronze-bucket-vercel-icfg-u9dfnqxtjcxvvkda95rkff6a.aws-ap-northeast-1.turso.io
TURSO_AUTH_TOKEN=eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE3NzQ1MjA0NTksImlkIjoiMDE5ZDI5YTktNWUwMS03ODZkLWI5ZDUtODRlZDViMGMyZGRkIiwicmlkIjoiOGY3YzQzMjEtZWM4Mi00OWY5LTg4NDQtNTQ5MjNlMjc5OGEwIn0.0sIv0Ddq3wgKIDS27qM_6-607iDNuiNOc2w4fqNnmDn4fCGOIxrD6Bk2apuXoH299oWEA2ABY__U3lS6xFyzBg
BLOB_READ_WRITE_TOKEN=
ADMIN_USERNAME=admin
ADMIN_PASSWORD=bajaraya123
